.btn {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 18px;
	line-height: 100%;
	color: var(--text-primary);
}
.title {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 44px;
	line-height: 109%;
	color: var(--text-primary);
}
.p-20 {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;
	color: var(--text-primary);
}
.p-18 {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 18px;
	line-height: 122%;
	color: var(--text-primary);
}
.p-16 {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 125%;
	color: var(--text-primary);
}
.p-14 {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
	line-height: 129%;
	color: var(--text-primary);
}