.searchbar_wrapper {
	margin-bottom: 48px;
}

.search_wrapper {
	display: flex;
	margin-bottom: 24px;
	align-items: center;
	justify-content: space-between;
	gap: 24px;
}

.dropdown_wrapper {
	max-width: 300px;
}