@use "@shared/styles/globals.scss" as *;

.card_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 210px;
  padding: 70px 20px;
  border-bottom: 2px solid #f3f3f3;
}
.card_right {
  display: flex;
  align-items: center;
  max-width: 360px;
  gap: 30px;
  cursor: pointer;
}
.card_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  gap: 10px;
}
.title {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  width: 200px;
  overflow: hidden;
}
.card_img {
  border-radius: 7px;
  width: 137px;
  height: 94px;
  object-fit: cover;
  transition: 0.5s all;
}
.card_img:hover {
  scale: 1.1;
}
.delete_icon {
  cursor: pointer;
  transition: 0.3s all;
}
.delete_icon:hover {
  scale: 1.2;
}
